@page "/Manufacturer"
@using Sl.InventControl.Data;
@using Sl.InventControl.Service;

@inject DbService dbService;
@inject IDialogService DialogService

<PageTitle>Manufacturer list</PageTitle>

<h1>Manufacturer list</h1>

<MudStack>
    <MudText>Tabel will come</MudText>
</MudStack>
