@page "/Models"
@using Sl.InventControl.Data;
@using Sl.InventControl.Service;

@inject DbService dbService;
@inject IDialogService DialogService

<PageTitle>Models list</PageTitle>

<h1>Models list</h1>

<MudStack>
    <MudText>Tabel will come</MudText>
</MudStack>
